@import "utils/variables";
@import "utils/mixins";

@import "base/reset";
@import "base/typography";

@import "layout/header";
@import "layout/footer";

.container {
  padding: 0 1rem;
  @include mq("desktop-wide") {
    min-width: 1400px;
    margin: 0 250px auto;
  }
}

.section {
  &-hero {
    padding: 200px 0 150px;
    @include mq("desktop-wide") {
      padding: 337px 0 280px;
    }
  }
  &-redefine {
    .redefine {
      text-align: center;
      p {
        margin: 0 auto;
        max-width: 875px;
        @include mq("desktop-wide") {
          max-width: 1028px;
        }
      }
    }
    .row {
      margin: 123px 0 50px;
    }
    .step {
      height: 200px;
    }
  }
  &-vision {
    padding: 50px 0 135px;
    background-color: #f6f7f7;
    text-align: center;
    .size-large {
      margin: 0 auto;
      max-width: 700px;
      @include mq("desktop-wide") {
        max-width: 875px;
      }
    }
  }
  &-deposit {
    display: flex;
    justify-content: space-around;
    padding: 150px 0;
    .resident,
    .owner {
      width: 290px;
      text-align: center;
    }
  }
  &-earning {
    padding: 118px 0;
    background-color: #f6f7f7;
    text-align: center;
  }
  &-feature {
    padding: 190px 0 90px;
    .feature {
      display: flex;
      justify-content: space-between;
      .feature-item {
        padding: 43px 35px;
        margin: 92px 0 87px;
        width: 355px;
        border: 1px solid #d9e4e6;
        border-radius: 5px;
        @include mq("desktop-wide") {
          padding: 53px 45px;
          width: 450px;
        }
      }
    }
  }
  &-contactus {
    text-align: center;
    background-color: #30393b;
    padding: 73px 140px;
    h2 {
      margin: 0 auto;
      max-width: 500px;
      color: white;
      @include mq("desktop-wide") {
        max-width: 700px;
      }
    }
    .size-large {
      color: #e8e8e8;
      opacity: 0.8;
    }
    .size-big {
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      opacity: 0.8;
    }
    .input-form {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .btn-link,
    input {
      padding: 15px 36px;
      font-size: 20px;
      @include mq("desktop-wide") {
        padding: 27px 52px;
        font-size: 24px;
      }
    }
    .btn-link {
      color: white;
      background-color: $primary;
      border-radius: 0 5px 5px 0;
      &:hover {
        text-decoration: none !important;
      }
    }
    input {
      background-color: #eef4f5;
      border: 0;
      border-radius: 5px 0 0 5px;
    }
  }
  &-privacy,
  &-terms,
  &-faq {
    padding: 150px 0 0 0;
    @include mq("desktop-wide") {
      padding: 300px 0 0 0;
    }
  }
}

.fix-width {
  width: 155px;
  @include mq("desktop-wide") {
    width: 177px;
  }
}
.primary-col {
  color: $primary;
}

.btn {
  border-radius: 5px;
  padding: 11px 35px;
  border: 1px solid $primary;
  &-second {
    margin-left: 28px;
    color: $primary;
    &:hover {
      background-color: $primary;
      color: white;
      border: 1px solid $primary;
    }
  }
  &-primary {
    background: $primary;
    color: #ffffff;
    &:hover {
      background-color: white;
      color: $primary;
      border: 1px solid $primary;
    }
  }
}

.bg-light-primary {
  background: rgba($primary, 0.3);
}

.accordion {
  margin: auto;
  width: 100%;
  max-width: 888px;
  text-align: left;
  &-item {
    display: flex;
    &__icon {
      display: flex;
      width: 46px;
      height: 46px;
      align-items: center;
      border-radius: 5px;
      flex-shrink: 0;
      justify-content: center;
      margin-right: 30px;
    }
    &__title {
      position: relative;
      padding-right: 50px;
      margin-bottom: 20px;
      @include bodyText(big);
      color: #5d6a7c;
      line-height: 1.8;
      cursor: pointer;
      transition: color 0.3s ease-in-out;
      &::after {
        position: absolute;
        content: "";
        top: 0;
        right: 0;
        width: 34px;
        height: 34px;
        background: url("../images/icon-down.svg") no-repeat center;
        transition: transform 0.3s ease-in-out;
      }
      &[aria-expanded="true"] {
        &::after {
          transform: rotate(180deg);
        }
      }
      &:hover {
        color: $primary;
      }
    }
    &__content {
      @include bodyText();
      color: #1f1f1f;
    }
  }
}
