// Header styles

.header {
  position: fixed;
  padding: 25px 0;
  width: 100%;
  background-color: white;
  box-shadow: 0px 3px 20px #00000014;
  z-index: 9;
  .navbar {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    @include mq("tablet-wide", max) {
      .btns {
        display: none;
      }
    }
  }
  .nav-items {
    display: flex;
    width: 100%;
    margin-left: 7em;
    justify-content: space-between;
    transition: left 0.3s ease-in-out;
    ul {
      display: flex;
      align-items: center;
      @include bodyText();
    }
  }
  .nav-link {
    padding: 0;
    color: $body_col;
    &.resident {
      width: 123px;
    }
    &.owner {
      width: 150px;
    }
    &:hover {
      font-weight: bold;
    }
    &.activity {
      color: $heading_col;
      font-weight: 600;
    }
  }
  .nav-item {
    text-align: center;
    padding: 0px;
    margin-right: 2em;
  }
}
